@import "card.css";
@import "toggle.css";

:root {
  --ff-body: monospace;
  --fs-card-heading: 14px;

  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);

  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram: linear-gradient(
    90deg,
    rgba(253, 196, 104, 1) 0%,
    rgba(223, 73, 150, 1) 100%
  );
  --YouTube: hsl(348, 97%, 39%);

  --toggle-dark: linear-gradient(
    90deg,
    rgba(55, 143, 230, 1) 0%,
    rgba(62, 218, 130, 1) 100%
  );
  --toggle-light: hsl(230, 22%, 74%);

  /* Dark Theme */
  --dark-mode-bg: hsl(230, 17%, 14%);
  --dark-mode-bg-pattern: hsl(232, 19%, 15%);
  --dark-mode-card-bg: hsl(228, 28%, 20%);
  --dark-mode-card-hover-bg: hsl(228, 26%, 27%);
  --dark-mode-blue-text: hsl(228, 34%, 66%);
  --dark-mode-white-text: hsl(0, 0%, 100%);

  /* Light Theme */
  --light-mode-bg: hsl(0, 0%, 100%);
  --light-mode-pattern: hsl(225, 100%, 98%);
  --light-mode-card-bg: hsl(227, 47%, 96%);
  --light-mode-gray-text: hsl(228, 12%, 44%);
  --light-mode-darkblue-text: hsl(230, 17%, 14%);
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-body);
  background-color: var(--dark-mode-bg);
  color: var(--dark-mode-white-text);
}

h1,
h2,
h3 {
  margin: 0;
}

a,
a:visited,
a:active {
  text-decoration: hidden;
}

/* --==================================================-- */
/* Mobile Screens */
.container {
max-width: min-content;
margin: 0 auto 46px;
}

header{
    margin-bottom: 16px;
}

.header__title {
  margin-top: 24px;
  width: auto;
  user-select: none;
}

.header__title__subheading{
    font-size: 16px;
    margin-top: 4px;
    color: var(--dark-mode-blue-text);
}

fieldset > label{
    font-size: 16px;
  }

.divider_line{
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--dark-mode-card-hover-bg);
    margin-bottom: 16px;
}

.pattern-bg{
    margin-top: 0px;
    height: 230px;
    border-radius: 0 30px;
    background-color: var(--dark-mode-bg-pattern);
  }

/* --==================================================-- */
/* Desktop Screens */
@media (min-width: 50em) {
  body {
    background: var(--dark-mode-bg);
    color: var(--dark-mode-white-text);
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    margin: 2.25rem 0;
  }

  .header__title {
    font-size: 16px;
  }

  .header__title__subheading {
    font-size: 16px;
    color: var(--dark-mode-blue-text);
  }

  .divider_line{
    display: none;
  }

  .header__toggle {
    margin-left: auto;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 46px;
  }

}
